.sectionContainer {
    width: 100%;
    padding: 0;
    display: block;
    height: 100%;
    margin: 0;
}

.contentContainer {
    width: 100%;
    padding: 35px 0;
    display: block;
    height: 100%;
    margin: 0;
} 

.container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 130px 1024px 130px auto;
    margin: 0 auto;
    padding: 50px 0;
}

.darkLeft {
    display: inline-flex;
    flex-direction: column;
}


.darkMobileHeader {
    display: none;
    text-align: center;
}

.darkMobileHeader h2 {
    color: white;
}

.darkLeft h3 {
    padding: 0;
    margin: 0;
    line-height: 1.8em;
    color: white;
}

.darkHeadingBar {
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.darkHeadingBarMobile {
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
}

.darkMobileHeader h2 {
    line-height: 0.2em;
}
    
.contentInsert {
    margin-top: 80px;
}

.barTemplate {
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 10px;
}

.barTemplate2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.darkSectionBar {
    width: 100%;
    height: 5px;
    background-color: white;
    align-self: center;
    justify-self: center;
}

.darkButton {
    height: 60px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    border: 5px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 1s;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

#gallery {
    background-color: black;
}

.darkButton:hover {
    background-color: #e7e7e7;
    transition: 1s;
}

@media only screen and (max-width: 1284px) {
    .container {
        display: flex;
        grid-template-columns: 0px 0px auto 0px 0px;
    }

    .darkLeft .desktopHeader {
        display: none;
    }

    .content {
        width: 98%;
        margin: 0 auto;
    }

    .contentInsert {
        margin-top: 0;
    }

    .darkSectionBar {
        width: 100%;
        height: 5px;
        background-color: white;
        align-self: center;
        justify-self: center;
    }

    .darkMobileHeader {
        display: block;
    }
}